.infoBox {
  flex: 1;
  background: rgba(255, 255, 255, 0.05) !important;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37) !important;
  backdrop-filter: blur(17.5px) !important;
  -webkit-backdrop-filter: blur(17.5px) !important;
  border-radius: 10px !important;
  border: 1px solid rgba(255, 255, 255, 0.18) !important;
}

.infoBox:not(:last-child) {
  margin-right: 15px;
}

.infoBox__cases {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.infoBox__total {
  color: #6c757d !important;
  font-weight: 700 !important;
  font-size: 0.8rem !important;
  margin-top: 15px !important;
}

@media (max-width: 990px) {
  .infoBox__cases {
    font-weight: 600;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
  }
}
